<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
 Bonjour <%= current_user.email %>
<% else %>
 <%= link_to "Se connecter", new_user_session_path %>
<% end %>
